<div class="myurls w-50 mx-auto">
    <div *ngFor="let link of currentLinks">
        <app-myurl [currentLinks]="currentLinks" [link]="link"></app-myurl>
    </div>
    
<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="updateLinks()"
	>
	</ngb-pagination>

	<select class="form-select bg-primary border border-primary fw-normal text-white" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="updateLinks()">
		<option [ngValue]="2">2 links per page</option>
		<option [ngValue]="4">4 links per page</option>
		<option [ngValue]="6">6 links per page</option>
	</select>
</div>
