<div class="p-4 bg-primary rounded-4 m-1 text-white d-flex">
    <div>
        {{link.id}}.
        <a href="{{link.fullLink}}" class="text-white">{{link.fullLink}}</a>
        <div class="">
            <a href="{{link.alias}}" class="text-white">{{link.alias}}</a>
        </div>
    </div>
    <div class="ms-auto">
        <button class="btn btn-light url-button">Delete</button>
        <button class="btn btn-light url-button">Update</button>
        <button class="btn btn-light url-button">Copy</button>
    </div>
</div>