body{
    height: 100vh;
} 
.app{
    height: 100%;
}

.input {
    color: black;
    font-weight: 500;
}

.button {
    font-weight: 900;
}

.form-headline {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}