html,
body {
    height: 100%;
    min-height: 100vh;
}

.app {
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
}

.input {
    color: black;
    font-weight: 500;
}

.button {
    font-weight: 900;
}

.form-headline {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}

.input-alert {
    color: rgb(255, 0, 0);
    font-weight: 500;
    margin-left: 0.5rem;
}

.toast {
    position: relative;
    margin: 0.5em;
}

.toast-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1200;
}