<nav class="navbar">
    <ul>
        <li><a class="nav-link" routerLink="/app-shortener" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a class="nav-link" routerLink="/app-myurls" routerLinkActive="active" ariaCurrentWhenActive="page">My urls</a></li>
        <div *ngIf="getToken() == null; else logined" class="d-flex">
            <li><a class="nav-link" routerLink="/app-login" routerLinkActive="active" ariaCurrentWhenActive="page">Log in</a></li>
            <li><a class="nav-link" routerLink="/app-signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a></li>
        </div>
        <ng-template #logined>
            <li><a class="nav-link" (click)="logOut()" routerLinkActive="active" ariaCurrentWhenActive="page">Log out</a></li>
        </ng-template>
    </ul>
</nav>