<div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Your urls</a>
            <ng-template ngbNavContent>Urls</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>First content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Sign up</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>